@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family:sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}






header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.logo{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.navigation a:hover{
    color: #601cfc;
}


section{
    padding: 100px;

}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(./Black-Pictures-12-1536x960.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;

}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: black;
    font-size: 3em;
    font-weight: 600;
}
